<div class="MoviContainer">
  <!-- <h2 class="listTitle">Lista de peliculas</h2> -->
  <ul class="moviesList">
    <!-- <li *ngFor ="let peliculaItem of peliculas" class="moviesList__movie" (click)="seleccionar(peliculaItem)">-->
      <!-- <p class="moviesList__moviesItem__item--id" ><span class="text">{{peliculaItem.id}}</span></p>
      <p class="moviesList__moviesItem__item"><span class="text">{{peliculaItem.nombre}}</span></p>
      <p class="moviesList__moviesItem__item"><span class="text">{{peliculaItem.genero}}</span></p>
      <p class="moviesList__moviesItem__item"><span class="text">{{peliculaItem.director}}</span></p> -->
      
    <!-- </li> -->
    <li *ngFor ="let peliculaItem of peliculas" class="moviesList__movie"
        routerLink="/detalle/{{peliculaItem.id}}"
    >
      <p class="moviesList__moviesItem__item--id" ><span class="text">{{peliculaItem.id}}</span></p>
      <p class="moviesList__moviesItem__item"><span class="text">{{peliculaItem.nombre}}</span></p>
      <p class="moviesList__moviesItem__item"><span class="text">{{peliculaItem.genero}}</span></p>
      <p class="moviesList__moviesItem__item"><span class="text">{{peliculaItem.director}}</span></p>
      <button class="button_delete" title="Borrar pelicula" (click)="borrar(peliculaItem)">
        X
      </button>
    </li>
  </ul>
  <!-- <dadb-pelicula-detalle [seleccionado]="seleccionado"></dadb-pelicula-detalle> -->
  <div>
    <label>Nueva pelicula:</label>
    <input #peliculaNombre placeholder="Nombre de pelicula"/>
    <br>
    <label>Genero:</label>
    <input #peliculaGenero placeholder="Genero de pelicula"/>
    <br>
    <label>Director:</label>
    <input #peliculaDirector placeholder="Director de pelicula"/>
    <br>
    <button (click)="nuevo(peliculaNombre.value, peliculaGenero.value, peliculaDirector.value);
    peliculaNombre.value=''; peliculaGenero.value=''; peliculaDirector.value='';">Crear</button>
  </div>
</div>